[
  {
    "url": "http://YOUR_FLOOR_1_IP:8000",
    "username": "admin@jenix.io",
    "password": "CHANGE_ME"
  },
  {
    "url": "http://YOUR_FLOOR_2_IP:8001",
    "username": "admin@jenix.io",
    "password": "CHANGE_ME"
  }
]
